.checkboxes-and-radios {
  width: 100%;
}
.checkboxes-and-radios input {
  display: none;
}
.checkboxes-and-radios label {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  display: block;
  font-size: 18px;
  padding: 15px 0;
}
.checkboxes-and-radios input[type="radio"]{
  position: absolute;
  visibility: hidden !important;
}

.checkboxes-and-radios input[type="radio"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  box-sizing: border-box;
}

.checkboxes-and-radios input[type="radio"] + label:before {
  width: 36px;
  height: 20px;
  right: 0px;
  background: #fff;
  border: 1px solid #e4e3e1;
  border-radius: 15px;
}

.checkboxes-and-radios input[type="radio"] + label:after {
  width: 20px;
  height: 20px;
  right: 15px;
  background: #BDBDBD;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.checkboxes-and-radios input[type="radio"]:checked + label:after {
  right: 0px;
  background: #5cb85c;
}

.radioselecttrip{
	margin-bottom: 1%;
    width: 110px;
    float: left;
    margin-right: 1%;
}



#airport .radioselecttrip{
	width:100%;
	float:none;
}
