@media (max-width:360px){
.medialogo{width:50%;}
.medialogo img{max-width:100%;}
.mediamenu{width:100%;position:absolute;right: 0;}
.mediamenu .navbar{padding-right: 0;}
.mediamenu ul#nav{margin-top:20%;}
.homebannerbg .homebannerbgopacity{padding:5% 0;}
.homebannerbg .nav-tabs>li{margin:0px auto;width:60%;}
.homebannerbg .tab-content .form-group{padding-left:0px;}
.checkboxes-and-radios{height:46px;}
.homebannerbg{height:777px;}
.taxdriver {margin:0px auto;margin-bottom:5%;}
.testpart{width:100%;}
.testpartcontent{padding:15% 8% 8%;}
.testpart img{margin-left:32%;}
.testpart i{margin:0 41%;}
.appdownload{padding-top:5%;}
.appdownrightimg{max-width:100%;}
.blogupdates{margin-top:5%;}
.advertisement{padding:5% 0;}
h3.advertiseheading{font-size: 24px;margin-top:5%;}
.footercontact h4{margin:5% 0;}
footer{padding:5% 0;}
.drivetestimonials{height:auto;}	
.contactinfo{padding:5% 0;}	
.about_whowe{padding:5% 0;}
.taxihireyellowbg{padding:5% 0;}	
li.listcall h4 span{color:#fff;}
li.hidden-xs.listcall{padding:2%;}
}

@media (min-width:361px) and (max-width:480px){
.medialogo{width:50%;}
.mediamenu{width:50%}
.mediamenu{position:absolute;right: 0;width:100%;}
.mediamenu ul#nav{margin-top:17%;}
nav.navbar{padding:0px;}
li.hidden-xs.listcall{padding:2%;}
.homebannerbg .homebannerbgopacity{padding:5% 0;}
.homebannerbg .nav-tabs>li{margin:0px auto;width:60%;}
.homebannerbg .tab-content .form-group{padding-left:0px;}
.checkboxes-and-radios{height:48px;}
.homebannerbg{height:777px;}
.taxdriver {margin:0px auto;margin-bottom:5%;}
.testpart{width:100%;}
.testpartcontent{padding:15% 8% 8%;}
.testpart img{margin-left:32%;}
.testpart i{margin:0 41%;}
.appdownload{padding-top:5%;}
.appdownrightimg{max-width:100%;}
.blogupdates{margin-top:5%;}
.advertisement{padding:5% 0;}
h3.advertiseheading{font-size: 24px;margin-top:5%;}
.footercontact h4{margin:5% 0;}
footer{padding:5% 0;}
.drivetestimonials{height:auto;}
.contactinfo{padding:5% 0;}
.about_whowe{padding:5% 0;}
.taxihireyellowbg{padding:5% 0;}
li.listcall h4 span{color:#fff;}
li.hidden-xs.listcall{padding:2%;}
}

@media (min-width:481px) and (max-width:640px){
.medialogo{width:50%;}
.mediamenu{width:50%}
.mediamenu{position:absolute;right: 0;}
.mediamenu ul#nav{margin-top:25%;}
li.hidden-xs.listcall{padding:2%;}
.mediamenu nav.navbar{padding:0;}
.homebannerbg .homebannerbgopacity{padding:5% 0;}
.homebannerbg .tab-content .form-group{padding-left:0px;}
.checkboxes-and-radios{height:55px;}
.homebannerbg{height:730px;}
.taxdriver {margin-bottom:5%;}
.testpart{width:48%;}
.testpartcontent{padding:17% 4% 4%;}
.testpart img{margin-left:13%;}
.testpart i{margin:0 20%;}
.appdownload{padding-top:5%;}
.blogupdates{margin-top:5%;}
.advertisement{padding:5% 0;}
h3.advertiseheading{font-size: 38px;margin-top:5%;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding: 5% 0;}
.drivetestimonials{height:auto;}
.appdownrightimg{max-width:100%;}
.footercontact h4{margin:5% 0;}
.container.taxihire .col-lg-3.col-xs-12{margin-right:5%;}
.contactinfo{padding:5% 0;}
.about_whowe{padding:5% 0;}
.taxihireyellowbg{padding:5% 0;}
.taxihireyellowbg .taxihire{width:56%;}
li.listcall h4 span{color:#fff;}
}

@media (min-width:641px) and (max-width:787px){
.medialogo{width:50%;}
.mediamenu{width:50%}
.mediamenu{position:absolute;right:0;}
.mediamenu ul#nav{margin-top:20%;}
nav.navbar{padding:0px;}
li.hidden-xs.listcall{padding:2%;}
.homebannerbg .homebannerbgopacity{padding:5% 0;}
.checkboxes-and-radios{height:55px;}
.homebannerbg{height:730px;}
.testpart{width:48%;}
.testpartcontent{padding:67px 8% 8%;}
.testpart img{margin-left:19.5%;}
.testpart i{margin:0 22%;}
.appdownload{padding-top:5%;}
.blogupdates{margin-top:5%;}
.advertisement{padding:5% 0;}
h3.advertiseheading{font-size: 38px;margin-top:0;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding:5% 0;}
.drivetestimonials{height:auto;padding-bottom:5%;}
.appdownrightimg{max-width:100%;}
.taxdriver{margin-bottom:5%;}
.contactinfo{padding:5% 0;}
.about_whowe{padding:5% 0;}
.taxihireyellowbg{padding:5% 0;}
.container.taxihire .col-lg-3.col-xs-12{}
li.listcall h4 span{color:#fff;}
}

@media (min-width:788px) and (max-width:990px){
	
.homebannerbg .homebannerbgopacity{padding:5% 0;}
.checkboxes-and-radios{height:55px;}
.homebannerbg{height:730px;}
.testpart{width:48%;}
.testpartcontent{padding:67px 8% 8%;}
.testpart img{margin-left:19.5%;}
.testpart i{margin:0 22%;}
.appdownload{padding-top:5%;}
.blogupdates{margin-top:5%;}
.advertisement{padding:5% 0;}
h3.advertiseheading{font-size: 38px;margin-top:0;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding:5% 0;}
.drivetestimonials{height:auto;padding-bottom:5%;}
.appdownrightimg{max-width:100%;}
.taxdriver{margin-bottom:5%;}
.homebannerbg .tab-content .form-group{padding-left:0px;}
.container.taxihire .col-lg-3.col-xs-12{margin-right:5%;margin-bottom:5%;}
.contactinfo{padding:5% 0;}
.about_whowe{padding:5% 0;}
.taxihireyellowbg{padding:5% 0;}

}

@media (min-width:991px) and (max-width:1024px){
.homebannerbg .homebannerbgopacity{padding:10% 0;}
.checkboxes-and-radios{height:55px;}
.homebannerbg{height:730px;}
.testpart{width:48%;}	
.testpartcontent{padding: 67px 60px 30px 66px;}
.testpart img{margin-left:19.5%;}
.testpart i{margin:0 22%;}
.appdownload{padding-top:10%;}
.blogupdates{margin-top:10%;}
.advertisement{padding:10% 0;}
h3.advertiseheading{font-size: 38px;margin-top:0;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding:10% 0;}
.drivetestimonials{height:542px;}
.appdownrightimg{max-width:100%;}
.taxdriver{margin-bottom:5%;}
.contactinfo{padding:10% 0;}
.about_whowe{padding:10% 0;}
.taxihireyellowbg{padding:5% 0;}
li.listcall h4 span{color:#222222;}

}

@media (min-width:1025px) and (max-width:1200px){
.homebannerbg .homebannerbgopacity{padding:120px 0;}
.checkboxes-and-radios{height:55px;}	
.homebannerbg{height:730px;}
.testpart{width:48%;}
.testpartcontent{padding: 67px 60px 30px 66px;}
.testpart img{margin-left:19.5%;}
.testpart i{margin:0 22%;}
.appdownload{padding-top:120px;}
.blogupdates{margin-top:120px;}
.advertisement{padding:120px 0;}
h3.advertiseheading{font-size: 38px;margin-top:0;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding: 90px 0;}
.drivetestimonials{height:542px;}
.appdownrightimg{max-width:100%;}
.contactinfo{padding:120px 0 80px 0;}
.about_whowe{padding:120px 0;}
.taxihireyellowbg{padding:120px 0 80px 0;}	
li.listcall h4 span{color:#222222;}
}

@media (min-width:1201px){
.homebannerbg .homebannerbgopacity{padding:120px 0;}
.checkboxes-and-radios{height:55px;}
.homebannerbg{height:730px;}
.testpart{width:48%;}
.testpartcontent{padding: 67px 60px 30px 66px;}
.testpart img{margin-left:19.5%;}
.testpart i{margin:0 22%;}
.appdownload{padding-top:120px;}
.blogupdates{margin-top:120px;}
.advertisement{padding:120px 0;}
h3.advertiseheading{font-size: 38px;margin-top:0;}
.footercontact h4{margin-bottom:20px;padding-bottom:10px;}
footer{padding: 90px 0;}
.drivetestimonials{height:542px;}
.appdownrightimg{max-width:100%;}
.contactinfo{padding:120px 0 80px 0;}
.about_whowe{padding:120px 0;}
.taxihireyellowbg{padding:120px 0 80px 0;}	
li.listcall h4 span{color:#222222;}

}

@media (min-width:768px) and (max-width:990px){
.logoleft.medialogo{width:25%;}	
.logoleft.medialogo img{max-width:100%;}	
.mediamenu{width:75%;float:right;padding:0;}
.mediamenu .navbar{padding-bottom:0;height:67px;}
header{height:67px;}

}