body{
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Raleway', sans-serif; */
}

header{
	height:86px;
}

.logoleft{
	padding:20px 0;
}

li.listcall i{
	float: left;
    color: #fc655e;
    font-size: 26px;
    margin-right: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 10px;
    height: 30px;	
}

li.listcall h4{
	font-weight: 400;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 17px;
	float:left;
	color:#fc655e;
}

li.listcall h4 span{
	font-size: 14px;   
    float: left;
}

li.listcall a{
	padding:0px !important;
}

.homebannerbg{
	background:url(../images/home-banner.png);
	background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.homebannerbg .homebannerbgopacity{
	background-color: rgba(35, 34, 34, 0.9);
	height:100%;
	width:100%;
}

.homebannerbg h2.titleheading{
	color:#fff;
	margin-bottom:5%;
}

.homebannerbg .nav-tabs .nav-item.show .nav-link.active, .nav-tabs .nav-link.active,
.homebannerbg .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	color: #fff;
    background-color: #fc655e;
	border:1px solid #fc655e;
}

.homebannerbg .nav-link{
	color:#fff;
	background:#3a3a3a;
}

.homebannerbg .nav-tabs{
	border:none;
}

.homebannerbg .nav-tabs>li{
	margin-right:10px;
}

.homebannerbg .nav-tabs .nav-item i.fa{
	font-size: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #00000047;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    background: #00000047;
}

.homebannerbg .nav-tabs .nav-link.active i.fa{
	background:#4b3b67;
}

.homebannerbg .tab-content .tab-pane{
	border: 2px solid #eae6e6;
    border-radius: 4px !important;
    box-shadow: 0px 0px 20.4px 2.6px rgb(216, 216, 216);
    padding-top: 20px !important;
    margin-top: 23px;
    margin-bottom: 45px;
	background:#fff;
}

.radiotitle{
	display: inline-block;
    font-weight: 400;
    margin: 0;
	cursor: pointer;
    color: #232323;
    font-size: 14px;
	padding:0 5px;
}

.radioselecttrip{
	width:100%;
	margin-bottom:1%;
}

.homebannerbg .tab-content .form-group:first-child{
	padding-left:0px;
}

.homebannerbg .tab-content .form-group label{
	font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 4px;
}

.homebannerbg .tab-content .form-control{
	height:40px !important;
	border-radius:3px;
	border:1px solid #e4e4e4;
}

.homebannerbg .tab-content .form-group i.fa{
	position: absolute;
    right: 10%;
    top: 32px;
    font-size: 22px;
    color: #666666;
}

.selecttimetrip{
	margin-left:0;
}

.booktrip{
	background-color: #fc655e;
    color: #fff;
	border:none;
	padding: 11px 36px;
    min-width: 150p
}

.booktrip i{
	margin-left:7px;
}

.termscondition,
.nextstepbook{
	padding-left:0px;
	margin:2% 0;
}

.booktrip:hover{
	box-shadow:5px 2px 12.4px -1.4px #fc655e!important
}

.termsconditionlabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.termsconditionlabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #cfd3d6;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.termsconditionlabel:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.termsconditionlabel input:checked ~ .checkmark {
  background-color: #5cb85c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.termsconditionlabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.termsconditionlabel .checkmark:after {
  left:7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.taxihire{
	width:100%;
	margin:50px auto;
}

h2.titleheading{
	font-size: 30px;
    font-weight: 500;
    color: #232222;
    margin: 0;
    margin-bottom: 30px;
}

.taxdriver{
	width:270px;	
}

.taxicontent{
	background: #f4f4f4;
    padding: 30px;
    text-align: center;
}

.taxicontent h4{
	font-size: 16px;
    font-weight: 500;
    color: #232222;
}

.taxicontent p{
	font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.taxdriver:hover .taxicontent h4,
.taxdriver:hover .taxicontent p{
	color:#fff;
}

.taxdriver:hover .taxicontent{
	background:#bcbcbc;
}

ul.taxdriversocial{
	display:none;
}

.taxdriver:hover ul.taxdriversocial{
	display:block;
}

ul.taxdriversocial{
	margin:0px;
	padding:0px;
	list-style:none;
	position: absolute;
    bottom: 40px;
    right: 40px;
}

ul.taxdriversocial>li{
	display: inline-block;
    margin: 0 4px;
	background:rgba(35,34,34,.15);
	height:41px;
	line-height:41px;
	width:41px;
	font-size: 13px;
    font-weight: 400;
    text-align: center;
    border: 2px solid rgba(221,221,221,.2);
    border-radius: 3px;
    opacity: .9;
}

ul.taxdriversocial>li>a{
	color:#fc655e;
}

.taxdriver:hover .taxdriverhover.top{
	width: 270px;
    height: 70%;
    float: left;
    position: absolute;
    top: 0%;
    opacity: .82;
    background: #f4f4f4;
}


.drivetestimonials{
	background-image: url(../images/dark-bg.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
	margin:50px 0 0;
	padding-top:12%;
}

.testpart{
    float: left;
    margin: 0 1%;
}

.testpart img{
	border-radius: 100%;
    position: absolute;
    top: -45px;
    height: 92px;
    width: 92px;
}

.testpartcontent{
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
    background: rgb(255, 255, 255); 
}

.testpart i{
	color: #fff;
    font-size: 50px;
    line-height: 12px;
    position: absolute;
}

.testpartcontent p{
	font-size: 14px;
    line-height: 24px;
    color: #232323;
    font-weight: 400;
}

.testpartbottom{
	color:#fff;
	text-align: center;
    margin-top: 30px;
    width: 100%;
}

.testpartbottom h4{
	font-size: 16px;
    font-weight: 500;
}

.testpartbottom p{
    font-size: 14px;
    font-weight: 500;
}

.appdownload{
	background:#f4f4f4;
}

.appleft h2{
	font-size: 22px;
    font-weight: 500;
    color: #232222;
    margin: 0;
}

.appleft h3{
	font-size: 18px;
    color: #232222;
    font-weight: 400;
	margin-top: 10px;
}

.appleft h4{
	font-size: 18px;
    color: #232222;
	font-weight: 400;
	margin-top: 24px;
}

.appleft p{
	font-size: 14px;
    line-height: 28px;
    color: #606060;
    font-weight: 400;
    margin: 0;
}

.appdownicon{
	padding:0px;
	margin:0px;
	list-style:none;
	margin-top:30px;
}

.appdownicon>li{
	display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.latestblog{
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.latestblog img{
	max-width:100%;
}

ul.latestblogpost{
	padding:0px;
	margin:0px;
	list-style:none;
}

.latestblogcontent{
	padding: 28px;
    text-align: left;
}

ul.latestblogpost>li{
	display: block;
    font-size: 13px;
    color: #fc655e;
    line-height: 24px;
    font-weight: 400;
}

ul.latestblogpost>li span{
	color: #777777;
    margin: 0 3px;
}

ul.latestblogpost>li i{
	color: #777777;
    font-size: 13px;
}

a.latestblogtitle{
	font-size: 16px;
    font-weight: 500;
    color: #232222;
    margin: 20px 0 0 0;
    display: inline-block;
}

.latestblogtext{
	font-size: 14px;
    font-weight: 500;
    color: #606060;
    line-height: 24px;
    margin: 15px 0;
    letter-spacing: .3px;
    word-wrap: break-word;
}

.latestblogread{
	font-size: 14px;
    font-weight: 500;
    color: #fc655e;
    display: inline-block;
    margin: 0;
}

.advertisement{
	background:#bcbcbc;
}

.advertiseimg{
	border:5px solid #fff;
}

.advertiseimg img{
	width:100%;
	height:100%;
}

h3.advertiseheading{
    line-height: 39px;
    color: #232222;
    font-weight: 500;
    margin-bottom: 23px;
}

.advertisetext{
	font-size: 16px;
    font-weight: 500;
    color: #232222;
    line-height: 24px;
    margin: 0;
    max-width: 500px;
}

.advertisetitle{
	margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
    color: #232222;
}

.advertisecontact{
	background-color: #fc655e!important;
	border:none;
	color:#fff;
	padding: 11px 36px;
    min-width: 150px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.advertisecontact:hover{
	box-shadow:5px 2px 12.4px -1.4px #fc655e!important;
}

.faqdescription{
	padding:120px 0 80px 0;
}

.faqquestion{
	font-size: 16px;
    color: #232222;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
}

.faqanswer{
	font-size: 14px;
    line-height: 24px;
    color: #606060;
    font-weight: 400;
	margin-bottom: 50px;
}

.contacttitle{
	font-size: 20px;
    font-weight: 500;
    color: #232222;
    margin-bottom: 30px;
}

.contactpara{
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #606060;
    margin-bottom: 30px;
    max-width: 400px;
    letter-spacing: .5px;
}

.colorcontacttitle{
	margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    color: #f7b926;
    margin-bottom: 17px;
}

.contenttext{
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #606060;
    margin-bottom: 30px;
    max-width: 400px;
    letter-spacing: .5px;
}







footer{
	background-color: #232222;
    color: #ffffff;
    margin-bottom: -2px;
}

.footercontact h4{
    font-size: 17px;
    font-weight: 500;
}

.footercontact p{
    margin-bottom: 10px;
}

ul.footersocialicon{
	padding:0px;
	margin:0px;
	list-style:none;
}

ul.footersocialicon>li{
	width: 40px;
    height: 40px;    
    border: #403f3f 2px solid;
    border-radius: 3px;
    padding: 4px;
	text-align: center;
	float:left;
	margin-right:10px;
}

ul.footersocialicon>li>a{
	color: #fff;
    font-size: 22px;
    font-weight: 400;
    
}

.booknowbanner{
	background:url(../images/inner-banner.png);
	background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
	height:170px;	
}

.booknowbanner h2{
	margin: 70px 0;
    color: #fff;
}

.homebannerbg.bookyourtrip{
	background:#fff;
	height:auto;
}

.homebannerbg.bookyourtrip .homebannerbgopacity{
	background:#fff;
}

.breadcrumb{
	background: #fff;
    padding: 30px 0 0;
}

.breadcrumb li{
	font-size: 13px;
    font-weight: 400;
    color: #999999;
    opacity: .8;
    display: inline-block;
}

.breadcrumb>li+li:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 10px;
}

.breadcrumb li.active a{
	color:#fc655e;
}

.about_whoweheading{
	font-size:30px;
	margin-bottom: 30px;
}

.about_whowetitle{
	font-size: 16px;
    font-weight: 400;
    color: #232222;
    line-height: 26px;
    margin: 20px 0;
}

.about_whowecontent{
	color: #606060;
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
}

.taxihireyellowbg{
	background:#f7b926;
}

.taxihireyellowbg .taxihire{
	margin:0 auto;
}

.testpartcontent .iconleft i{
	float: left;
    position: relative;
    color: #fc655e;
    font-size: 8px;
    margin: 0;
}

.testpartcontent .iconright i{
	float: left;
    color: #fc655e;
    font-size: 8px;
    margin: 0;
}

.drivetestimonials.mtnone{
	margin-top:0px;
}

.advertisement.faq{
	background:#fff;
}






